{% extends 'base.html' %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}关于我们{% endblock %}--CQUOPV-Project</title>

</head>

{% block content %}
    <div class="row clearfix">
        <div class="col-md-12 column ">
            <div class="col-md-12 column">
                <div class="row clearfix" style="background-color: rgba(255,255,255,0.77);margin-top:5px;height: 460px;">

                   <h1>关于我们</h1>

                    </div>

                </div>
            </div>

        </div>

{% endblock %}