{% extends 'base.html' %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}关于我们{% endblock %}--CQUOPV-Project</title>

</head>

{% block content %}
    <div class="row clearfix">
        <div class="col-md-12 column ">
            <div class="col-md-12 column">
                <div class="row clearfix" style="background-color: rgba(255,255,255,0.77);margin-top:5px;height: 460px;">
                    <div class="col-md-8 column" style="left: 5%;top:10%">
                        <h2>
                            能源与动力工程学院-柔性可再生能源与器件团队
                        </h2>
                        <p style="font-size: 2rem;">
                           柔性可再生能源材料与器件团队依托单位为重庆大学能源与动力工程学院，所属学院的低品位能源利用技术及系统教育部重点实验室。
                        </p>
                        <p>
                            <a class="btn btn-secondary" href="https://www.x-mol.com/groups/LaFREMD" target="view_window">View details »</a>
                        </p>
                    </div>


                </div>

            </div>
        </div>

    </div>

{% endblock %}