{% extends 'base.html' %}

<head>
    <meta charset="utf-8">
    <title>{% block title %}指纹转换{% endblock %}--CQUOPV-Project</title>
</head>
{% block content %}
    <div class="row clearfix">
        <div class="col-md-12 column ">
            <div class="col-md-12 column">
                <div class="row clearfix" style="background-color: rgba(255,255,255,0.77);margin-top:5px;height: 460px;">

                    <div class="col-md-6 column" style="top: 10%;left: 3%;">
                        <form role="form" action = "{{ url_for('convert') }}" method = "POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">请输入SMILES</label>
                                <div>
                                    {{ form.smiles(style="width: 70%") }}
                                    <button type="button" class="btn btn-warning" title="Copy to your clipboard"  style="width: 20%;display: inline;"
                                            data-container="body" data-toggle="popover" data-placement="right"  data-content="C(C=CC1)=C(C=1C(=O)O)O">
                                        Example
                                    </button>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="dropdown">
                                    <label for="exampleInputEmail1">选择指纹类型</label>
                                    {{ form.fingerprint(class="form-control btn-secondary", style="width: 70%") }}
                                    {#                                    <select class="form-control" data-style="btn-primary" style="width: 70%;">#}
                                    {#                                        <option></option>#}
                                    {#                                        <option value="PA">Pennsylvania</option>#}
                                    {#                                        <option value="CT">Connecticut</option>#}
                                    {#                                        <option value="NY">New York</option>#}
                                    {#                                        <option value="MD">Maryland</option>#}
                                    {#                                        <option value="VA">Virginia</option>#}
                                    {#                                    </select>#}

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-outline-success " style="left: 20%">提交</button>
                        </form>
                    </div>
                    <div class="col-md-6 column" style="top: 10%;left: 3%;">
                        <form role="form" action = "{{ url_for('convert') }}" method = "POST" enctype="multipart/form-data">
                            <div class="form-group">

                                <label for="upload">上传文件（支持文件格式.csv）</label>
                                <div class="input-group mb-3">
                                    <div class="custom-file" style="width: 100%;">
                                        {#                                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" ">#}
                                        {#                                        <label class="custom-file-label" for="inputGroupFile01" >Choose file</label>#}
                                        {{ form.file}}
                                        <button type="button" class="btn btn-warning" title="。csv文件格式要求"  style="width: 20%;display: inline;"
                                                data-container="body" data-toggle="popover" data-placement="right"  data-content="默认：第一列是序号，第二列是材料名称，，第三列是PCE，第四列是SMILES">
                                            提示
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="dropdown">
                                    <label for="exampleInputEmail1">选择指纹类型</label>
                                    {{ form.fingerprint(class="form-control btn-secondary", style="width: 70%") }}
                                    {#                                    <select class="form-control" data-style="btn-primary" style="width: 70%;">#}
                                    {#                                        <option></option>#}
                                    {#                                        <option value="PA">Pennsylvania</option>#}
                                    {#                                        <option value="CT">Connecticut</option>#}
                                    {#                                        <option value="NY">New York</option>#}
                                    {#                                        <option value="MD">Maryland</option>#}
                                    {#                                        <option value="VA">Virginia</option>#}
                                    {#                                    </select>#}

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-outline-success " style="left: 20%">提交</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}