{% extends 'base.html' %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}性能预测{% endblock %}--CQUOPV-Project</title>

</head>
{% block content %}
    <div class="row clearfix">
        <div class="col-md-12 column ">
            <div class="col-md-12 column">
                <div class="row clearfix" style="background-color: rgba(255,255,255,0.77);margin-top:5px;height: 460px;">

                    <div class="col-md-6 column" style="top: 20%;left: 3%;">
                        <form role="form" action = "{{ url_for('predict') }}" method = "POST">
                            <div class="form-group">
                                <label for="SMILES">请输入SMILES</label>
                                <div>
                                    {{ form.smiles(style="width: 70%") }}
                                    <button type="button" class="btn btn-warning" title="Copy to your clipboard"  style="width: 20%;display: inline;"
                                            data-container="body" data-toggle="popover" data-placement="right"  data-content="C(C=CC1)=C(C=1C(=O)O)O">
                                        Example
                                    </button>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="dropdown">
                                    <label for="alchoice">选择算法</label>
                                    {{ form.al_fingerprint(class="form-control btn-secondary", style="width: 70%") }}
{#                                    <select class="form-control" data-style="btn-primary" style="width: 70%;">#}
{#                                        <option></option>#}
{#                                        <option value="PA">Pennsylvania</option>#}
{#                                        <option value="CT">Connecticut</option>#}
{#                                        <option value="NY">New York</option>#}
{#                                        <option value="MD">Maryland</option>#}
{#                                        <option value="VA">Virginia</option>#}
{#                                    </select>#}
                                </div>
                            </div>
{#                            <div class="form-group">#}
{#                                <div class="dropdown">#}
{#                                    <label for="fingerprintchoice">选择指纹</label>#}
{#                                    <select class="form-control" data-style="btn-primary" style="width: 70%;">#}
{#                                        <option></option>#}
{#                                        <option value="PA">Pennsylvania</option>#}
{#                                        <option value="CT">Connecticut</option>#}
{#                                        <option value="NY">New York</option>#}
{#                                        <option value="MD">Maryland</option>#}
{#                                        <option value="VA">Virginia</option>#}
{#                                    </select>#}
{#                                    {{ form.fingerprint(class="form-control btn-secondary", style="width: 70%") }}#}
{#                                </div>#}
{#                            </div>#}
{#                            <button type="submit" class="btn btn-primary btn-lg btn-outline-success " style="left: 20%">提交</button>#}
                            {{ form.submit(class="form-control btn-success", style="width: 70%") }}
                        </form>
{#                        <button type="button" class="btn btn-warning" title="算法与指纹推荐"  style="margin-top: 20px;"#}
{#                                            data-container="body" data-toggle="popover" data-placement="right"  data-content="GBDT--Daylight,RF--Morgan,SVM--Hybridization">#}
{#                                        算法与指纹推荐#}
{#                                    </button>#}
                    </div>
                    <div class="col-md-6 column" style="top: 10%;">

                        <label for="result">预测结果</label>
                        <textarea class="form-control"  rows="15" style="width: 90%" readonly="readonly">{{ result }}</textarea>
{#                        {{ form.result(class="form-control",rows="15",style="width: 90%", readonly="readonly") }}#}

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}